<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body class="flex min-h-screen text-gray-700">
<div th:replace="layout/sidebar"></div>

<main class="flex-1 p-6 mt-6">
  <div class="flex items-center justify-between mb-4">
    <h1 class="text-xl font-semibold flex items-center gap-2">
      <i class="fa-solid fa-laptop-code"></i> Products
    </h1>
  </div>

  <div class="flex justify-between items-center mb-4">
    <div th:if="${errorAdd}" th:text="${errorAdd}" style="color:red"></div>

    <button id="openModalBtn" class="bg-orange-500 text-white px-4 py-2 rounded hover:bg-orange-600 cursor-pointer">
      Add Product <span th:text="${removeHideProductModal}"></span>
    </button>
    <input type="hidden" id="hideModal" th:value="${hideModal}">

<!--    <div class="relative">-->
<!--      <form method="get" action="/products">-->
<!--        <input type="text" name="searchProduct" th:value="${searchProduct}" placeholder="Search name product ..." class="border px-4 py-2 rounded pl-10">-->
<!--        <span class="absolute left-3 top-1/2 -translate-y-1/2 material-icons text-gray-400"><i class="fa-solid fa-magnifying-glass"></i></span>-->
<!--      </form>-->
<!--    </div>-->

    <form method="get" action="/products" class="flex gap-2">
      <input type="text" name="brand" placeholder="Tìm theo brand..." class="border px-2 py-1 rounded" />
      <input type="number" name="stock" placeholder="Tìm theo stock..." class="border px-2 py-1 rounded" />
      <input type="number" name="min" placeholder="Giá từ..." step="0.01" class="border px-2 py-1 rounded" />
      <input type="number" name="max" placeholder="Đến..." step="0.01" class="border px-2 py-1 rounded" />
      <button type="submit" class="bg-blue-500 text-white px-3 py-1 rounded">Tìm kiếm</button>
    </form>

  </div>

  <div class="overflow-x-auto">
    <table class="w-full border-collapse">
      <thead class="bg-gray-100 text-left">
      <tr>
        <th class="px-4 py-2">STT</th>
        <th class="px-4 py-2">Name</th>
        <th class="px-4 py-2">Brand</th>
        <th class="px-4 py-2">Image</th>
        <th class="px-4 py-2">Price</th>
        <th class="px-4 py-2">Stock</th>
        <th class="px-4 py-2">Status</th>
        <th class="px-4 py-2">Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="product, loop : ${products}" class="border-t">
        <td class="px-4 py-2" th:text="${loop.index+1}">1</td>
        <td th:text="${product.name}" class="px-4 py-2"></td>
        <td th:text="${product.brand}" class="px-4 py-2">Sincere</td>
        <td><img class="h-14 py-2 ml-4" th:src="${product.image}"></td>
        <td th:text="${#numbers.formatDecimal(product.price, 0, 'NONE', 0, 'NONE')} + ' $'" class="px-4 py-2"></td>
        <td th:text="${product.stock}" class="px-4 py-2">1</td>
        <td class="px-4 py-2">
          <div th:if="${product.status}" class="inline-block bg-[#D1FADF] text-[#027A48] text-sm font-semibold px-3 py-1 rounded-full">
            ● Active
          </div>
          <div th:unless="${product.status}" class="inline-block bg-[#FEE4E2] text-[#B42318] text-sm font-semibold px-3 py-1 rounded-full">
            ● Deactivate
          </div>
        </td>
        <td class="px-4 py-2 space-x-2">
<!--          <a href="javascript:void(0);"-->
<!--             class="text-red-500 hover:text-red-700"-->
<!--             th:onclick="'showDeleteModal(' + ${product.id} + ')'">-->
<!--            <i class="fa-solid fa-trash-can cursor-pointer"></i>-->
<!--          </a>-->
          <a class="hover:text-red-700" th:href="@{/products/updateStatus(id=${product.id})}">
            <i th:if="${product.status}" class="text-green-700 fa-solid fa-lock"></i>
            <i th:if="${!product.status}" class="text-red-700 fa-solid fa-lock-open"></i>
          </a>
          <a th:href="@{'/products/edit?id=' + ${product.id}}"
             class="text-yellow-500 hover:text-yellow-600 material-icons align-middle">
            <i class="fa-solid fa-pencil cursor-pointer"></i>
          </a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

<!--  <div class="mt-4 flex justify-end items-center space-x-1">-->
<!--    <a th:if="${currentPage > 1}"-->
<!--       th:href="@{/products(page=${currentPage - 1}, searchProduct=${searchProduct})}"-->
<!--       class="px-[9.5px] py-[4.2px] border border-gray-300 rounded hover:bg-gray-200 cursor-pointer">-->
<!--      <i class="fa-solid fa-arrow-left"></i>-->
<!--    </a>-->

<!--    <span th:each="i : ${#numbers.sequence(1, totalPages)}">-->
<!--    <a th:href="@{/products(page=${i}, searchProduct=${searchProduct})}"-->
<!--       th:class="'px-3 py-[5.4px] border border-gray-300 rounded hover:bg-gray-200 cursor-pointer ' + (${i} == ${currentPage} ? 'bg-orange-500 text-white' : '')"-->
<!--       th:text="${i}">1</a>-->
<!--    </span>-->

<!--    <a th:if="${currentPage < totalPages}"-->
<!--       th:href="@{/products(page=${currentPage + 1}, searchProduct=${searchProduct})}"-->
<!--       class="px-[9.5px] py-[4.2px] border rounded border-gray-300 hover:bg-gray-200 cursor-pointer">-->
<!--      <i class="fa-solid fa-arrow-right"></i>-->
<!--    </a>-->
<!--  </div>-->

</main>

<div id="productModal" class="fixed inset-0 z-50 flex items-center justify-center bg-black/40 hidden">
  <div th:replace="product/add"></div>
</div>

<div id="deleteModal" class="fixed inset-0 z-50 flex items-center justify-center bg-black/40 hidden">
  <div class="max-w-md mx-auto p-6 bg-white rounded-lg shadow-md">
    <h2 class="text-xl font-semibold text-gray-900 mb-4">Xác nhận</h2>
    <p class="text-gray-600 mb-6">Bạn có chắc chắn muốn xóa sản phẩm này khỏi hệ thống không?</p>
    <div class="flex justify-end space-x-3">
      <button onclick="closeDeleteModal()" class="px-4 py-2 rounded-md border border-gray-300 text-gray-700 hover:bg-gray-100 cursor-pointer">Hủy</button>
      <a id="confirmDeleteBtn" href="#" class="px-4 py-2 rounded-md bg-red-600 text-white hover:bg-red-700">Xóa</a>
    </div>
  </div>
</div>

</body>

<script>
  const openBtn = document.getElementById('openModalBtn');
  const modal = document.getElementById('productModal');
  const closeBtn = document.getElementById('closeModal');
  const cancelBtn = document.getElementById('cancelBtn');

  openBtn.addEventListener('click', () => {
    modal.classList.remove('hidden');
  });

  closeBtn.addEventListener('click', () => {
    modal.classList.add('hidden');
  });

  cancelBtn.addEventListener('click', () => {
    modal.classList.add('hidden');
  });

  let hideModal = document.getElementById('hideModal').value;

  if (hideModal != null && hideModal === 'yes') {
    const modal2 = document.getElementById('productModal');
    modal2.classList.remove('hidden');
  }

  function showDeleteModal(productId) {
    const deleteModal = document.getElementById('deleteModal');
    const confirmDeleteBtn = document.getElementById('confirmDeleteBtn');
    confirmDeleteBtn.href = `/products/delete?id=${productId}`;
    deleteModal.classList.remove('hidden');
  }

  function closeDeleteModal() {
    const deleteModal = document.getElementById('deleteModal');
    deleteModal.classList.add('hidden');
  }
</script>
</html>