<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body class="flex min-h-screen text-gray-700">
<div th:replace="layout/sidebar"></div>

<main class="flex-1 p-6 mt-6">
  <div class="flex items-center justify-between mb-4">
    <h1 class="text-xl font-semibold flex items-center gap-2">
      <i class="fa-solid fa-users"></i> Products
    </h1>
  </div>

  <div class="flex justify-between items-center mb-4">
    <button id="openModalBtn" class="bg-orange-500 text-white px-4 py-2 rounded hover:bg-orange-600 cursor-pointer">
      Add Product
    </button>
    <div class="relative">
      <form method="get" action="/products">
        <input type="text" name="searchProduct" th:value="${searchProduct}" placeholder="Search here ..." class="border px-4 py-2 rounded pl-10">
        <span class="absolute left-3 top-1/2 -translate-y-1/2 material-icons text-gray-400"><i class="fa-solid fa-magnifying-glass"></i></span>
      </form>
    </div>
  </div>

  <div class="overflow-x-auto">
    <table class="w-full border-collapse">
      <thead class="bg-gray-100 text-left">
      <tr>
        <th class="px-4 py-2">STT</th>
        <th class="px-4 py-2">Name</th>
        <th class="px-4 py-2">Brand</th>
        <th class="px-4 py-2">Image</th>
        <th class="px-4 py-2">Price</th>
        <th class="px-4 py-2">Stock</th>
        <th class="px-4 py-2">Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="product, loop : ${products}" class="border-t">
        <td class="px-4 py-2" th:text="${loop.index+1}">1</td>
        <td th:text="${product.name}" class="px-4 py-2"></td>
        <td th:text="${product.brand}" class="px-4 py-2">Sincere</td>
        <td><img class="h-14 py-2 ml-4" th:src="${product.image}"></td>
        <td th:text="${product.price % 1 == 0} ? ${#numbers.formatDecimal(product.price, 0, 'COMMA', 0, 'POINT')} + '$' : ${#numbers.formatDecimal(product.price, 0, 'COMMA', 2, 'POINT')} + ' $'" class="px-4 py-2"></td>
        <td th:text="${product.stock}" class="px-4 py-2">1</td>
        <td class="px-4 py-2 space-x-2">
          <button class="text-red-500 hover:text-red-700 material-icons align-middle"><i class="fa-solid fa-trash-can cursor-pointer"></i></button>
          <button class="text-yellow-500 hover:text-yellow-600 material-icons align-middle"><i class="fa-solid fa-pencil cursor-pointer"></i></button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="mt-4 flex justify-end items-center space-x-1">
    <button class="px-[9.5px] py-1 border rounded hover:bg-gray-200 cursor-pointer"><i class="fa-solid fa-arrow-left"></i></button>
    <button class="px-3 py-1 border rounded hover:bg-gray-200 cursor-pointer">1</button>
    <button class="px-3 py-1 border rounded hover:bg-gray-200 cursor-pointer">2</button>
    <button class="px-3 py-1 bg-orange-500 text-white rounded cursor-pointer">3</button>
    <button class="px-3 py-1 border rounded hover:bg-gray-200 cursor-pointer">4</button>
    <button class="px-3 py-1 border rounded hover:bg-gray-200 cursor-pointer">5</button>
    <button class="px-[9.5px] py-1 border rounded hover:bg-gray-200 cursor-pointer"><i class="fa-solid fa-arrow-right"></i></button>
  </div>
</main>

<div id="productModal" class="fixed inset-0 z-50 flex items-center justify-center bg-black/40 hidden">
  <div class="bg-white w-[40%] rounded-lg shadow-lg p-6 relative">
  <button id="closeModal" class="absolute cursor-pointer top-3 right-3 text-gray-500 hover:text-black text-xl">
      &times;
    </button>
    <h2 class="text-xl font-semibold mb-4">Add Product</h2>
    <form th:action="@{/products}" method="post" th:object="${productDTO}">
      <label class="block mb-2 text-sm font-medium">Name <span class="text-red-500">*</span></label>
      <input th:field="*{name}" type="text" name="name" required class="w-full border border-gray-300 rounded px-4 py-2 mb-4 focus:outline-none focus:ring-2 focus:ring-orange-500">

      <label class="block mb-2 text-sm font-medium">Brand <span class="text-red-500">*</span></label>
      <input th:field="*{brand}" type="text" name="brand" required class="w-full border rounded border-gray-300 px-4 py-2 mb-4 focus:outline-none focus:ring-2 focus:ring-orange-500">

      <label class="block mb-2 text-sm font-medium">Price <span class="text-red-500">*</span></label>
      <input th:field="*{price}" type="number" step="0.01" name="price" required class="w-full border-gray-300 border rounded px-4 py-2 mb-4 focus:outline-none focus:ring-2 focus:ring-orange-500">

      <label class="block mb-2 text-sm font-medium">Image</label>
      <div class="w-full border border-gray-300 rounded mb-4">
        <label class="flex items-center justify-center py-2 bg-orange-500 text-white cursor-pointer hover:bg-orange-600">
          <i class="fa-solid fa-upload mr-2"></i> Upload
          <input th:field="*{image}" type="file" name="imageFile" accept="image/*" class="hidden">
        </label>
      </div>

      <label class="block mb-2 text-sm font-medium">Stock <span class="text-red-500">*</span></label>
      <input th:field="*{stock}" type="number" name="stock" required class="w-full border border-gray-300 rounded px-4 py-2 mb-6 focus:outline-none focus:ring-2 focus:ring-orange-500">

      <div class="flex justify-end gap-2">
        <button type="button" id="cancelBtn" class="px-4 py-2 border cursor-pointer rounded border-gray-300 hover:bg-gray-100">Cancel</button>
        <button type="submit" class="px-4 py-2 bg-orange-500 text-white cursor-pointer rounded hover:bg-orange-600">Save</button>
      </div>
    </form>
  </div>
</div>
</body>
<script>
  const openBtn = document.getElementById('openModalBtn');
  const modal = document.getElementById('productModal');
  const closeBtn = document.getElementById('closeModal');
  const cancelBtn = document.getElementById('cancelBtn');

  openBtn.addEventListener('click', () => {
    modal.classList.remove('hidden');
  });

  closeBtn.addEventListener('click', () => {
    modal.classList.add('hidden');
  });

  cancelBtn.addEventListener('click', () => {
    modal.classList.add('hidden');
  });
</script>
</html>