<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
<div class="flex min-h-screen">
    <div th:replace="layout/sidebar"></div>
    <main class="flex-1 p-6 mt-6">
        <div class="text-2xl font-bold mb-6">FORM INVOICE</div>

        <div class="mb-6">
            <label class="block text-sm font-medium mb-2 text-gray-700">Customer <span class="text-red-500">*</span></label>
            <form method="post" action="/invoices/selectCustomer">
                <select name="customerId" class="w-full border rounded p-2 mr-8" onchange="this.form.submit()">
                    <option th:each="c : ${customers}"
                            th:value="${c.id}"
                            th:selected="${c.id == selectedCustomer?.id}"
                            th:text="${c.name}">Michael Ballack</option>
                </select>
            </form>
        </div>

        <div class="bg-white rounded-md overflow-hidden">
            <div class="bg-gray-200 px-6 py-2 font-bold text-center text-xl">INVOICE DETAIL</div>

            <table class="w-full text-sm text-left">
                <thead class="bg-gray-50 text-gray-700">
                <tr class="border-b border-gray-200">
                    <th class="p-4">STT</th>
                    <th class="p-4">Product Name</th>
                    <th class="p-4">Brand</th>
                    <th class="p-4 text-center">Quantity</th>
                    <th class="p-4 text-right">Price</th>
                    <th class="p-4 text-right">Total Amount</th>
                    <th class="p-4 text-center">Actions</th>
                </tr>
                </thead>
                <tbody class="text-gray-800">
                <tr th:each="item, iStat : ${session.invoiceItems}" class="bg-white border-b border-gray-200">
                    <td th:text="${iStat.count}" class="p-4">1</td>
                    <td th:text="${item.product.name}" class="p-4">Shoe</td>
                    <td th:text="${item.product.brand}" class="p-4">Balenciaga</td>
                    <td class="p-4 text-center">
                        <form th:action="@{'/invoices/updateQuantity/' + ${iStat.index}}" method="post">
                            <div class="flex justify-center items-center space-x-2 text-[#1e2a66]">
                                <a th:href="@{'/invoices/decrease/' + ${iStat.index}}" class="cursor-pointer w-8 h-8 border border-[#dcdcec] rounded-md flex items-center justify-center hover:bg-[#f0f0f5]">-</a>
                                <input name="quantity" type="number" min="1"
                                       th:value="${item.quantity}"
                                       class="w-12 h-8 border border-[#dcdcec] rounded-md text-center text-[#1e2a66] focus:outline-none focus:ring-1 focus:ring-[#a0a4cc]"/>
                                <a th:href="@{'/invoices/increase/' + ${iStat.index}}" class="cursor-pointer w-8 h-8 border border-[#dcdcec] rounded-md flex items-center justify-center hover:bg-[#f0f0f5]">+</a>
                                <button type="submit" class="hidden"></button>
                            </div>
                        </form>
                        <div th:if="${item.product.getStock() < item.quantity}" class="text-red-500 mt-1 text-sm">Số lượng kho không đủ!</div>
                    </td>
                    <td th:text="${item.product.price}" class="p-4 text-right">1,200 $</td>
                    <td th:text="${item.product.price * item.quantity}" class="p-4 text-right">2,400 $</td>
                    <td class="p-4 text-center">
                        <button class="text-red-600 hover:text-red-800 cursor-pointer">
                            <a th:href="@{'/invoices/deleteItem/' + ${iStat.index}}" class="text-red-600 hover:text-red-800 cursor-pointer">
                                <i class="fa-solid fa-trash-can"></i>
                            </a>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>

            <a href="/invoices/add/addDetail" class="flex justify-center p-2 bg-gray-200 cursor-pointer hover:bg-gray-300">
                <span class="text-xl"><i class="fa-solid fa-cart-plus"></i></span>
            </a>
        </div>

        <form method="post" action="/invoices/save">
            <div class="flex justify-end space-x-3 mt-6">
                <a href="/invoices" class="px-5 py-2 border-gray-200 bg-white border rounded hover:bg-gray-50 cursor-pointer">Cancel</a>
                <th:block th:with="hasInvalidQuantity=${session.invoiceItems.?[quantity > product.stock].size() > 0}">
                    <button type="submit"
                            class="px-5 py-2 bg-orange-500 text-white rounded hover:bg-orange-600 cursor-pointer disabled:opacity-50"
                            th:disabled="${hasInvalidQuantity}">
                        Save
                    </button>
                </th:block>
            </div>
        </form>
    </main>
</div>
</body>
</html>