<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
<div class="fixed inset-0 z-50 flex items-center justify-center bg-black/40">
    <form method="post" action="/invoices/addDetail/save">
    <div class="bg-white rounded-lg shadow-lg w-[900px] max-w-full p-4">
        <div class="flex justify-between items-center p-4">
            <h2 class="text-lg font-semibold">Add Invoice detail</h2>
            <a href="/invoices/add" class="text-gray-500 hover:text-red-500 text-xl cursor-pointer">×</a>
        </div>
        <div th:if="${error}" class="text-red-600 font-semibold pb-2 flex justify-center items-center">
            <i class="fa-solid fa-circle-exclamation mr-1"></i>
            <span th:text="${error}"></span>
        </div>

        <div class="overflow-x-auto max-h-[400px] overflow-y-auto p-4">
            <table class="w-full text-sm text-left">
                <thead class="bg-gray-100 text-gray-700">
                <tr>
                    <th class="p-3 text-center">
<!--                        <input type="checkbox" class="cursor-pointer" onclick="toggleAllCheckboxes(this)" />-->
                    </th>
                    <th class="p-3">STT</th>
                    <th class="p-3">Product Name</th>
                    <th class="p-3">Brand</th>
                    <th class="p-3 text-center">Quantity</th>
                    <th class="p-3">Price</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="p, i : ${productInvoiceDetailDTOS}" class="border-b border-gray-200">
                    <td class="p-3 text-center">
                        <input type="checkbox" class="cursor-pointer" name="productIds" checked th:if="${p.isExistInvoice() == true}" th:value="${p.id}" />
                        <input type="checkbox" class="cursor-pointer" name="productIds" th:if="${p.isExistInvoice() != true}" th:value="${p.id}" />
                    </td>

                    <td th:text="${i.index + 1}" class="p-3">1</td>
                    <td th:text="${p.name}" class="p-3">Shoe</td>
                    <td th:text="${p.brand}" class="p-3">Balenciaga</td>
                    <td class="p-3 text-center">
                        <input type="number" min="1" name="quantities" th:value="${p.quantity}" class="w-16 border rounded px-2 py-1 text-center" />
                    </td>
                    <td th:text="${p.price}" class="p-3">1,222200 $</td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="flex justify-end gap-3 p-4 pt-6 pr-0 mt-4 border-t border-gray-400 w-[96%] mx-auto">
            <a href="/invoices/add" class="px-4 py-2 border border-gray-200 rounded hover:bg-gray-100 cursor-pointer">Cancel</a>
            <button type="submit" class="px-4 py-2 bg-orange-500 text-white rounded hover:bg-orange-600 cursor-pointer">Save</button>
        </div>
    </div>
    </form>
</div>
</body>
<script>
    // const masterCheckbox = document.querySelector('input[onclick="toggleAllCheckboxes(this)"]');
    // const checkboxes = document.querySelectorAll('input[name="productIds"]');
    //
    // function toggleAllCheckboxes(master) {
    //     checkboxes.forEach(cb => cb.checked = master.checked);
    // }
    //
    // checkboxes.forEach(cb => {
    //     cb.addEventListener('change', function () {
    //         const allChecked = [...checkboxes].every(c => c.checked);
    //         masterCheckbox.checked = allChecked;
    //     });
    // });
</script>
</html>