<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <style>
    .status-badge {
      padding: 5px 10px;
      border-radius: 6px;
      font-weight: bold;
      font-size: 12px;
      width: fit-content;
    }

    .CONFIRMED {
      background: #D9CCFF;
      color: #7D4CFF;
      border: 1px solid #7D4CFF;
    }

    .PENDING {
      background: #FFDD99;
      color: #FF9900;
      border: 1px solid #FF9900;
    }

    .SHIPPING {
      background: #99EEFF;
      color: #0099FF;
      border: 1px solid #0099FF;
    }

    .COMPLETED {
      background: #B3FFB3;
      color: #00CC00;
      border: 1px solid #00CC00;
    }

    .CANCELED {
      background: #FFCCCC;
      color: #FF3333;
      border: 1px solid #FF3333;
    }
  </style>

</head>
<body class="flex min-h-screen text-gray-700">
<div th:replace="layout/sidebar"></div>

<main class="flex-1 p-6 mt-6">
  <div class="flex items-center justify-between mb-4">
    <h1 class="text-xl font-semibold flex items-center gap-2">
      <i class="fa-regular fa-file-lines ml-[3px]"></i> Invoices
    </h1>
  </div>

  <div>
    <div class="flex justify-between items-center mb-4">
      <a href="invoices/add" class="bg-orange-500 text-white px-4 py-2 rounded hover:bg-orange-600 cursor-pointer">Add Invoice</a>
      <form method="get" action="/invoices" class="flex gap-2">
        <input type="text" name="searchCustomer" th:value="${searchCustomer}" placeholder="Search by customer..." class="border px-4 py-2 rounded">
        <input type="date" name="searchDate" th:value="${searchDate}" placeholder="dd/MM/yyyy" class="border px-4 py-2 rounded">
        <button type="submit" class="bg-orange-500 text-white px-4 py-2 rounded cursor-pointer">Search</button>
      </form>
    </div>
    <div th:if="${dateError}" th:text="${dateError}" class="text-red-500 text-sm flex justify-end mb-4 mt-[-14px] mr-6"></div>

    <div class="overflow-x-auto">
      <table class="w-full border-collapse">
        <thead class="bg-gray-100 text-left">
        <tr>
          <th class="px-4 py-2">STT</th>
          <th class="px-4 py-2">Customer Name</th>
          <th class="px-4 py-2">Create At</th>
          <th class="px-4 py-2">Status</th>
          <th class="px-4 py-2">Total Amount</th>
          <th class="px-4 py-2">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="invoice : ${invoices}" class="border-t">
          <td th:text="${invoice.id}" class="px-4 py-2">1</td>
          <td th:text="${invoice.customer.name}" class="px-4 py-2">Leanne Graham</td>
          <td th:text="${invoice.created_at}" class="px-4 py-2">12/06/2025</td>
          <td class="px-4 py-2">
            <div th:text="${invoice.status}" th:class="${invoice.status + ' status-badge'}"></div>
          </td>
          <td th:text="${#numbers.formatDecimal(invoice.total_amount, 0, 'NONE', 0, 'NONE')} + ' $'" class="px-4 py-2"></td>
          <td class="px-4 py-2 space-x-2">
            <a th:href="@{'/invoices/edit?id=' + ${invoice.id}}" class="text-yellow-500 hover:text-yellow-600 material-icons align-middle"><i class="fa-solid fa-pencil cursor-pointer"></i></a>
            <a th:href="@{'/invoices/show?id=' + ${invoice.id}}" class="text-blue-500 hover:text-blue-700 material-icons align-middle"><i class="fa-solid fa-eye cursor-pointer"></i></i></a>
          </td>
        </tr>
      </table>
    </div>

    <div class="mt-4 flex justify-end items-center space-x-1">
      <button class="px-[9.5px] py-1 border rounded hover:bg-gray-200 cursor-pointer"><i class="fa-solid fa-arrow-left"></i></button>
      <button class="px-3 py-1 border rounded hover:bg-gray-200 cursor-pointer">1</button>
      <button class="px-3 py-1 border rounded hover:bg-gray-200 cursor-pointer">2</button>
      <button class="px-3 py-1 bg-orange-500 text-white rounded cursor-pointer">3</button>
      <button class="px-3 py-1 border rounded hover:bg-gray-200 cursor-pointer">4</button>
      <button class="px-3 py-1 border rounded hover:bg-gray-200 cursor-pointer">5</button>
      <button class="px-[9.5px] py-1 border rounded hover:bg-gray-200 cursor-pointer"><i class="fa-solid fa-arrow-right"></i></button>
    </div>
  </div>
</main>
</body>
</html>