<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body class="flex min-h-screen text-gray-700">
<div th:replace="layout/sidebar"></div>

<main class="flex-1 p-6 mt-6">
    <div class="flex items-center justify-between mb-4">
        <h1 class="text-xl font-semibold flex items-center gap-2">
            <i class="fa-solid fa-users"></i> Customer
        </h1>
    </div>

    <div class="flex justify-between items-center mb-4">
        <a href="customers/add" class="bg-orange-500 text-white px-4 py-2 rounded hover:bg-orange-600 cursor-pointer">Add User</a>
        <div class="relative">
            <input type="text" placeholder="Search here ..." class="border px-4 py-2 rounded pl-10">
            <span class="absolute left-3 top-1/2 -translate-y-1/2 material-icons text-gray-400"><i class="fa-solid fa-magnifying-glass"></i></span>
        </div>
    </div>

    <div class="overflow-x-auto">
        <table class="w-full border-collapse">
            <thead class="bg-gray-100 text-left">
            <tr>
                <th class="px-4 py-2">STT</th>
                <th class="px-4 py-2">Name</th>
                <th class="px-4 py-2">Email</th>
                <th class="px-4 py-2">Phone</th>
                <th class="px-4 py-2">Address</th>
                <th class="px-4 py-2">Status</th>
                <th class="px-4 py-2">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr class="border-t" th:each="customer : ${customers}">
                <td th:text="${customer.id}" class="px-4 py-4">1</td>
                <td th:text="${customer.name}" class="px-4 py-4">Leanne Graham</td>
                <td th:text="${customer.email}" class="px-4 py-4">Sincere@gmail.com</td>
                <td th:text="${customer.phone}" class="px-4 py-4">0987654321</td>
                <td th:text="${customer.address}" class="px-4 py-4">Alabama</td>
                <td>
                    <div th:if="${customer.status}" class="inline-block bg-[#D1FADF] text-[#027A48] text-sm font-semibold px-3 py-1 rounded-full">
                        ● Active
                    </div>
                    <div th:unless="${customer.status}" class="inline-block bg-[#FEE4E2] text-[#B42318] text-sm font-semibold px-3 py-1 rounded-full">
                        ● Deactivate
                    </div>
                </td>
                <td class="px-4 py-2 space-x-2">
                    <a th:href="@{/customers/updateStatus(id=${customer.id})}" class="hover:text-red-700">
                        <i th:if="${customer.status}" class="text-green-700 fa-solid fa-lock"></i>
                        <i th:if="${!customer.status}" class="text-red-700 fa-solid fa-lock-open"></i>
                    </a>
                    <a th:href="@{'/customers/edit?id=' + ${customer.id}}" class="text-yellow-500 hover:text-yellow-600">
                        <i class="fa-solid fa-pencil cursor-pointer"></i>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="mt-4 flex justify-end items-center space-x-1">
        <a th:href="@{/customers(page=${currentPage - 1})}"
           th:classappend="${currentPage == 1} ? ' pointer-events-none opacity-50' : ''"
           class="px-[9.5px] py-[4.2px] border rounded hover:bg-gray-200 cursor-pointer">
            <i class="fa-solid fa-arrow-left"></i>
        </a>

        <span th:each="pageNum : ${#numbers.sequence(1, totalPages)}">
            <a th:href="@{/customers(page=${pageNum})}"
               th:class="'px-3 py-[5.4px] border rounded cursor-pointer hover:bg-gray-200 ' + (${pageNum} == ${currentPage} ? 'bg-orange-500 border-orange-500 text-white' : '')"
               th:text="${pageNum}"></a>
        </span>

        <a th:href="@{/customers(page=${currentPage + 1})}"
           th:classappend="${currentPage == totalPages} ? ' pointer-events-none opacity-50' : ''"
           class="px-[9.5px] py-[4.2px] border rounded hover:bg-gray-200 cursor-pointer">
            <i class="fa-solid fa-arrow-right"></i>
        </a>
    </div>

</main>
</body>
</html>